.board {
  flex: 1;
  border: 1px solid black;
  height: 1000px;
}

.board-container {
  display: flex;
  flex-direction: row;
}

.task {
  border: 1px solid black;
  height: 100px;
  padding: 10px;
  margin: 10px;
  text-align: center;
}


.left-arrow {
}

.right-arrow {
}

